@import "./../../scss/_base.scss";

.Tcontact {
    padding-bottom: uc(40);
    background: #f6f6f6;
}
.title {
    margin: 0 0 uc(10) 0;
    color: #000;
    font-size: 15px;
    text-align: center;
    opacity: .8
}
.contact {
    width: uc(90);
    margin: 0 auto;
    padding: uc(10) 0 uc(10) uc(20);

    color: #000;
    font-size: 12px;
    text-align: center;

    background: url(./i_email.png) no-repeat left center;
    background-size: uc(15) uc(12);
    a {
        color: #000;
        text-decoration: none;
        opacity: .8;
    }
}
[data-dpr="2"] .title {
    font-size: 30px;
}
[data-dpr="2"] .contact {
    font-size: 24px;
}
[data-dpr="3"] .title {
    font-size: 45px;
}
[data-dpr="3"] .contact {
    font-size: 36px;
}